<div class="tweets tweet-stream">
  <h1>Tweets: <%= @tweets.size %></h1>
  <ol>
    <% @tweets.each do |tweet| %>
      <%= render 'tweets/preview', tweet: tweet %>
    <% end %>
  </ol>
  <%= link_to 'New Tweet', new_tweet_path, class: 'new-button' %>
</div>
