<li class="user-stream-item">
  <div class="user-info">
    <span class="user-name">
      <strong>
      <%= "#{user.full_name} " %>
      </strong>
    </span>
    <span class="user-email">
      <%= link_to user.email, user_path(user) %>
    </span>
  </div>
  <span class="timestamp">
    Joined <%= time_ago_in_words(user.created_at) %> ago
  </span>
  <%= following_button(user)%>
</li>
