<div class="users">
  <h1>Users: <%= @users.size %></h2>
  <ol>
    <% @users.each do |user| %>
      <%= render 'preview', user: user %>
    <% end %>
  </ol>
  <%= link_to 'New User', new_user_path, class: 'new-button' %>
</div>
