<p>
  Dear <%= @user.full_name %>,
</p>

<p>
  ¡You have a new follower!<br/>
  <%= @follower.full_name %> (<%= @follower.email %>) will be watching your activity from now on.
</p>

<p>
  Best regards,<br/>
  Pioller's staff
</p>
