// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-activity {
  text-align: center;
}

.profile-info, .tweet-stream, .user-followers, .user-following, .users {
  border: solid 1px #14171a;
  border-radius: 15px;
  margin: 10px 0 0 0;
  background: white;
  display: inline-block;
}

.profile-info {
  width: 100%;
}

.users, .tweet-stream, .user-followers, .user-following {
  height: 420px;
  background-color: white;
  text-align: left;
  padding-left: 10px;
}

.users {
  width: 99%;
}

.profile-user-name {
  display: inline;
  padding-left: 10px;
}

.profile-user-email {
  margin-top: 0;
  color: #657786;
  font-size: 18px;
  padding-left: 10px;
}

.users, .user-followers, .user-following {
  ol {
    padding-left: 10px;
    list-style: none;
    height: 300px;
    overflow: scroll;
    width: 90%;
  }

  .user-stream-item {
    padding: 10px 0;
    background-color: white;
  }

  .user-stream-item:not(:first-child) {
    border-top: 1px solid #e8e8e8;
  }
}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-top: 10px;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
